@page "/login"
@layout CustomLayout
@using BlazorPwaApp.Client.Services;
@using BlazorPwaApp.Shared.Entities
@using BlazorPwaApp.Shared.Dto
@inject IUserAccountService UserAccountService
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
@using System.ComponentModel.DataAnnotations
@using System.Security.Claims;
@using Microsoft.AspNetCore.Authentication.Cookies;
@inject ISessionService SessionService

<PageTitle>Login</PageTitle>

<div class="section">
   <div class="row m-0">

      <!--BRAND LOGO-->
      <a class="brand-logo" href="#">
         <span class="card-title d-lg-block fs-2 fw-bolder">Smart Care Plus - Admin</span>
      </a>
      <!--/BRAND LOGO-->

      <!-- LEFT IMAGE-->
      <div class="d-none d-lg-flex col-lg-8 align-items-center pe-5 ps-5 pb-5 pt-5 img-size">
         <div class="w-100 d-lg-flex align-items-center justify-content-center">
            <img class="img-fluid img-responsive" width="80%" src="/images/admin-login1.png">
         </div>
      </div>
      <!-- /LEFT IMAGE-->

      <!--LOGIN-->
      <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-2">
         <div class="col-10 col-sm-8 col-md-6 col-lg-10 px-xl-2 mx-auto">
            <!--CARD-->
            <div class="card shadow-2-strong mb-2" style="border-radius: 1rem;">
               <div class="card-body">

                  <!--HEADER-->
                  <div class="pb-2 mt-3">
                     <a class="brand-logo d-flex justify-content-center pb-0 mb-0" href="#">
                        <img src="/images/Logo.ico" alt="logo" style="width:90px;" />
                     </a>
                     <h4 class="card-title text-center pb-0 fw-bolder fs-sm-5 ">Login to Smart Care Admin</h4>
                     <p class="text-center small">Enter your <strong>Username</strong>  & <strong>Password</strong> to Login.</p>
                  </div>

                  <EditForm class="row g-3" Model="@login" OnValidSubmit="HandleLogin">
                     <DataAnnotationsValidator />

                     <!--USERNAME-->
                     <div class="col-12 form-floating">

                        <div class="form-floating mt-2">
                           <InputText id="Username" @bind-Value="@login.Username" type="text" class="form-control" />
                           <label for="Username" class="">Username</label>
                           <ValidationMessage For="@(() => login.Username)" />
                        </div>
                     </div>

                     <!--PASSWORD-->
                     <div class="col-12 form-floating">
                        <div class="col-12 form-floating mb-2">
                           <div class="input-group">
                              <InputText id="password" type="password" class="form-control required p-2" @bind-Value="@login.Password" />
                              <span class="input-group-text" id="eye"><i class="bi bi-eye"></i></span>
                           </div>
                           <ValidationMessage For="@(() => login.Password)" />
                        </div>
                     </div>

                     <!--ACTION-->
                     <div class="col-12 mb-2 mt-2">
                        <button class="btn btn-primary w-100 p-2" type="submit">Login</button>
                     </div>

                  </EditForm>

               </div>
            </div>
            <!--/CARD-->

            <!--FOOTER-->
            <footer id="footerLogo" class="footerLogo">
               <div class="copyright">
                  <div class="row mt-0 d-flex justify-content-center">
                     <div class="col-12  ">
                        <a class="brand-logo" href="https://www.moh.gov.zm/">
                           <img src="/images/for 1.png" alt="logo" style="width:110px;">
                        </a>
                        <a class="brand-logo" href="https://www.cdc.gov/">
                           <img src="/images/For2.png" alt="logo" style="width:55px;">
                        </a>
                        <a class="brand-logo ps-2" href="http://ihmafrica.org/">
                           <img src="/images/for 3.png" alt="logo" style="width:80px;">
                        </a>
                     </div>
                  </div>
               </div>
            </footer>

         </div>
         <!-- /LOGIN-->
      </div>
   </div>
</div>

@code {
      private LoginDto login = new LoginDto();

      //private async Task HandleLogin()
      //{
      //   var isSuccess = await UserAccountService.UserLogin(login);
         
      //   if (isSuccess != null)
      //   {
      //      await JsRuntime.InvokeVoidAsync("alert", "Login Successfully!");
      //      NavigationManager.NavigateTo("countries");
      //   }
      //   else
      //   {
      //      Console.WriteLine("Authentication failed");
      //   }
      //}

   private async Task HandleLogin()
   {
      var isSuccess = await UserAccountService.UserLogin(login);

       if (isSuccess != null)
       {
         await SessionService.SetItemAsync("user", isSuccess);
         await JsRuntime.InvokeVoidAsync("alert", "Login Successfully!");
         NavigationManager.NavigateTo("countries");
       }
       else
       {
        Console.WriteLine("Authentication failed");
       }
   }
}

   @*   private async Task HandleLogin()
   {
      var isSuccess = await UserAccountService.UserLogin(login);

      if (isSuccess != null)
      {
         // Create a ClaimsPrincipal with user information
         var claimsIdentity = new ClaimsIdentity(new[] { new Claim(ClaimTypes.Name, login.Username) }, CookieAuthenticationDefaults.AuthenticationScheme);

         // Sign in the user
         await SessionService.SetItemAsync(new ClaimsPrincipal(claimsIdentity));

         await JsRuntime.InvokeVoidAsync("alert", "Login Successfully!");
         NavigationManager.NavigateTo("countries");
      }
      else
      {
         Console.WriteLine("Authentication failed");
      }
   }*@